html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  background-color: #fafafa;
  font-size: 1.5rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  color: #3f3f44;
  margin: 0;
  width: 100%;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #3f3f44;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.max-width {
  max-width: 768px;
  margin-right: auto !important;
  margin-left: auto !important;
}
